* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

#app {
  max-width: 400px;
  margin: auto;
  border: 1px solid lightgray;
}

header {
  padding: 10px;
}

h1 {
  color: darkgray;
  text-align: center;
}

.progress {
  width: 100%;
  height: 20px;
  border: 1px solid darkgray;

  > div {
    background-color: lightgray;
    height: 100%;
    transition: all .5s;

    &.is-loading {
      animation: pulse 1s infinite;
    }
  }

  label {
    position: absolute;
    left: calc(50% - 20px);
    color: darkgray;
  }
}

.random button {
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}

.counter {
  margin: auto;
  display: block;
  width: 110px;

  button {
    margin: 10px;
  }
}

@-webkit-keyframes pulse {
  0%   { opacity: 1; }
  50%   { opacity: .3; }
  100% { opacity: 1; }
}